{% extends 'Master.html' %}

{% block title %}
  By Status
{% endblock %}


{% block category_dropdown %}

  <div class="dropdown">
    <button type="button" class="btn dropdown-toggle text-light" data-bs-toggle="dropdown">By Category </button>
    <ul class="dropdown-menu">
      {% for c in category %}
        <li><a href="{% url 'category_view' c.id %}" class="dropdown-item">{{ c.categories }}</a></li>
      {% endfor %}
      <li><hr class="dropdown-divider"></li>
      <li><a href="{% url 'category_edit' %}" class="dropdown-item"><i class="bi bi-pencil-square text-success me-2"></i> Edit</a></li>
    </ul>
  </div>
  
{% endblock %}


{% block content %}
<br>
<div class="container text-left ">
  
{% if tasks %}
  <h2>{{ from_status }} Tasks</h2>
  <hr />
  <div class="row ">
    {% for t in tasks %}
    
      {% if t.status == "completed" %}
        <div class="col-5 card m-3 p-3 border-2 border-success">
          <h4 class="card-header text-bg-success">{{ t.task }}</h4>
          <div class="card-body h-1.5">
            <span class="fw-lighter fst-italic text-right fs-6">Task created by {{ t.created_on|date:"jS F Y" }}</span>
            <div class="card-text"><span class="fw-bold">Status :</span> Completed</div>
            <div class="card-text"><span class="fw-bold">Category :</span> {{ t.category }}</div>
          </div>
          <div class="card-footer">
            <a href="{%  url 'update' t.id %} " class="text-decoration-none btn btn-success"><i class="bi bi-arrow-clockwise me-2"></i> Update</a>
            <a href="{%  url 'delete' t.id %}" class="text-decoration-none btn btn-danger"><i class="bi bi-trash-fill me-2"></i>Delete</a>
          </div>
        </div>
      {% else %}
        <div class="col-5 card m-3 p-3 border-2 border-danger">
          <h4 class="card-header text-bg-secondary">{{ t.task }}</h4>
          <div class="card-body h-1.5">
            <span class="fw-lighter fst-italic text-right fs-6">Task created by {{ t.created_on|date:"jS F Y" }}</span>
            <div class="card-text"><span class="fw-bold">Status :</span> Pending</div>
            {% if t.category %}
              <div class="card-text"><span class="fw-bold">Category :</span> {{ t.category }}</div>
            {% else %}
              <div class="card-text"><span class="fw-bold">Category :</span> Uncategorized</div>
            {% endif %}
            <p><span class="fw-bold">Due On :</span> {{ t.due_on }}</p>
          </div>
          <div class="card-footer">
            <a href="{%  url 'update' t.id %} " class="text-decoration-none btn btn-success"><i class="bi bi-arrow-clockwise me-2"></i> Update</a>
            <a href="{%  url 'delete' t.id %}" class="text-decoration-none btn btn-danger"><i class="bi bi-trash-fill me-2"></i>Delete</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  
{% else %}
<p class="border border-success border-2 bg-success-subtle p-3 rounded-1">No tasks created yet. <span><a href="{% url 'create' %}" class="text-decoration-none text-success">Create task</a></span></p>
{% endif %}
</div>



{% endblock %}