{% extends 'Master.html' %}

{% block title %}
  Edit Category
{% endblock %}


{% block category_dropdown %}

  <div class="dropdown">
    <button type="button" class="btn dropdown-toggle text-light" data-bs-toggle="dropdown">By Category </button>
    <ul class="dropdown-menu">
      {% for c in category %}
        <li><a href="{% url 'category_view' c.id %}" class="dropdown-item">{{ c.categories }}</a></li>
      {% endfor %}
      <li><hr class="dropdown-divider"></li>
      <li><a href="{% url 'category_edit' %}" class="dropdown-item"><i class="bi bi-pencil-square text-success me-2"></i> Edit</a></li>
    </ul>
  </div>
  
{% endblock %}


{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow">
        <div class="card-header bg-success text-white">
          <h4 class="mb-0">Update Category</h4>
        </div>

        <div class="card-body">
          <form action="{% url 'category_delete' %}" method="post" accept-charset="utf-8" onsubmit="return confirm('Are you sure you want ot delete this category ?\n\nNote : Tasks associated with this category also will be deleted.')">
            {% csrf_token %}
            
            <table>
              {% for c in category %}
              <tr >
                <td><input type="checkbox" name="category" value="{{ c.id }}" /></td>
                <td>{{ c.categories }}</td>
              </tr>
              {% endfor %}
            </table>
            
            <div class="">
              <button type="button" class="btn btn-success ">
                <a href="{% url 'category' %}" class="text-decoration-none text-light"><i class="bi bi-plus-circle me-2"></i> Add New</a>
              </button>
              <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash-fill me-2"></i>Delete
              </button>
            </div>
          </form>
            
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}